Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2019-10, with the labels that each got.

#55 Add debug log to functions transforms object
  pkg/patterns/declarative/image.go
  pkg/patterns/declarative/labels.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#52 Add dashboard 1.10.1 manifests to channels
  examples/dashboard-operator/channels/packages/dashboard/1.10.1/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/L

#58 controller-runtime: pkg/runtime/log -> pkg/log
  go.mod
  pkg/patterns/addon/patch.go
  pkg/patterns/addon/pkg/loaders/fs.go
  pkg/patterns/addon/pkg/loaders/types.go
  pkg/patterns/addon/pkg/status/aggregate.go
  pkg/patterns/declarative/labels.go
  pkg/patterns/declarative/pkg/kubectlcmd/client.go
  pkg/patterns/declarative/pkg/manifest/objects.go
  pkg/patterns/declarative/pkg/manifest/patch.go
  pkg/patterns/declarative/pkg/watch/dynamic.go
  pkg/patterns/declarative/reconciler.go
  pkg/patterns/declarative/sort.go
  pkg/patterns/declarative/watch.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/S

#59 Update go.mod dependency to kubebuilder 0.2.2
  examples/dashboard-operator/go.mod
  examples/dashboard-operator/go.sum
  go.mod
  go.sum
  pkg/test/mocks/cache.go
  pkg/test/mocks/client.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M

#63 correct sample code
  docs/addon/walkthrough/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/api-machinery, size/XS

#64 controller-runtime: pkg/runtime/log moved to pkg/log
  pkg/patterns/declarative/image.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS
