Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2019-04, with the labels that each got.

#36 declarative: generate lowercase labels in SourceLabel
  examples/dashboard-operator/pkg/controller/dashboard/tests/simple.out.yaml
  pkg/patterns/declarative/labels.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/S

#37 declarative,docs: remove packageName
  docs/addon/walkthrough/README.md
  examples/dashboard-operator/pkg/controller/dashboard/dashboard_controller.go
  pkg/patterns/declarative/reconciler.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/S

#38 declarative,addon: global pipeline, basic registry support
  examples/dashboard-operator/cmd/manager/main.go
  pkg/patterns/addon/init.go
  pkg/patterns/declarative/image.go
  pkg/patterns/declarative/options.go
  pkg/patterns/declarative/reconciler.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/L

#20 declarative/watch: resume watch on failure
  pkg/patterns/declarative/pkg/watch/dynamic.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M

#40 Extend Mocks
  pkg/test/mocks/client.go
  pkg/test/mocks/manager.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/api-machinery, size/M
