Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2020-02, with the labels that each got.

#75 Add atoato88 to reviewers
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#73 Add metrics-server-operator
  examples/metrics-server-operator/.gitignore
  examples/metrics-server-operator/Dockerfile
  examples/metrics-server-operator/Makefile
  examples/metrics-server-operator/PROJECT
  examples/metrics-server-operator/api/v1alpha1/groupversion_info.go
  examples/metrics-server-operator/api/v1alpha1/metricsserver_types.go
  examples/metrics-server-operator/api/v1alpha1/zz_generated.deepcopy.go
  examples/metrics-server-operator/channels/packages/metrics-server/0.3.6/manifest.yaml
  examples/metrics-server-operator/channels/stable
  examples/metrics-server-operator/config/certmanager/certificate.yaml
  examples/metrics-server-operator/config/certmanager/kustomization.yaml
  examples/metrics-server-operator/config/certmanager/kustomizeconfig.yaml
  examples/metrics-server-operator/config/crd/bases/addons.example.org_metricsservers.yaml
  examples/metrics-server-operator/config/crd/kustomization.yaml
  examples/metrics-server-operator/config/crd/kustomizeconfig.yaml
  examples/metrics-server-operator/config/crd/patches/cainjection_in_metricsservers.yaml
  examples/metrics-server-operator/config/crd/patches/webhook_in_metricsservers.yaml
  examples/metrics-server-operator/config/default/kustomization.yaml
  examples/metrics-server-operator/config/default/manager_auth_proxy_patch.yaml
  examples/metrics-server-operator/config/default/manager_webhook_patch.yaml
  examples/metrics-server-operator/config/default/webhookcainjection_patch.yaml
  examples/metrics-server-operator/config/manager/kustomization.yaml
  examples/metrics-server-operator/config/manager/manager.yaml
  examples/metrics-server-operator/config/prometheus/kustomization.yaml
  examples/metrics-server-operator/config/prometheus/monitor.yaml
  examples/metrics-server-operator/config/rbac/auth_proxy_role.yaml
  examples/metrics-server-operator/config/rbac/auth_proxy_role_binding.yaml
  examples/metrics-server-operator/config/rbac/auth_proxy_service.yaml
  examples/metrics-server-operator/config/rbac/kustomization.yaml
  examples/metrics-server-operator/config/rbac/leader_election_role.yaml
  examples/metrics-server-operator/config/rbac/leader_election_role_binding.yaml
  examples/metrics-server-operator/config/rbac/metricsserver_editor_role.yaml
  examples/metrics-server-operator/config/rbac/metricsserver_viewer_role.yaml
  examples/metrics-server-operator/config/rbac/role.yaml
  examples/metrics-server-operator/config/rbac/role_binding.yaml
  examples/metrics-server-operator/config/samples/addons_v1alpha1_metricsserver.yaml
  examples/metrics-server-operator/config/webhook/kustomization.yaml
  examples/metrics-server-operator/config/webhook/kustomizeconfig.yaml
  examples/metrics-server-operator/config/webhook/service.yaml
  examples/metrics-server-operator/controllers/metricsserver_controller.go
  examples/metrics-server-operator/controllers/metricsserver_controller_test.go
  examples/metrics-server-operator/controllers/tests/patches.in.yaml
  examples/metrics-server-operator/controllers/tests/patches.out.yaml
  examples/metrics-server-operator/go.mod
  examples/metrics-server-operator/go.sum
  examples/metrics-server-operator/hack/boilerplate.go.txt
  examples/metrics-server-operator/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XXL

#66 kustomize integration by using krusty package
  examples/dashboard-operator/go.sum
  go.mod
  go.sum
  pkg/patterns/addon/pkg/loaders/fs.go
  pkg/patterns/addon/pkg/loaders/http.go
  pkg/patterns/addon/pkg/loaders/types.go
  pkg/patterns/addon/pkg/loaders/types_test.go
  pkg/patterns/declarative/options.go
  pkg/patterns/declarative/reconciler.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/api-machinery, size/XL

#74 Add support for dashboard v2.0.0 on dashboard-operator
  examples/dashboard-operator/api/v1alpha1/zz_generated.deepcopy.go
  examples/dashboard-operator/channels/develop
  examples/dashboard-operator/channels/packages/dashboard/2.0.0/manifest.yaml
  examples/dashboard-operator/config/crd/bases/addons.example.org_dashboards.yaml
  examples/dashboard-operator/config/rbac/role.yaml
  examples/dashboard-operator/controllers/tests/patches-develop.in.yaml
  examples/dashboard-operator/controllers/tests/patches-develop.out.yaml
  examples/dashboard-operator/controllers/tests/patches-stable.in.yaml
  examples/dashboard-operator/controllers/tests/patches-stable.out.yaml
  examples/dashboard-operator/controllers/tests/simple-develop.in.yaml
  examples/dashboard-operator/controllers/tests/simple-develop.out.yaml
  examples/dashboard-operator/controllers/tests/simple-stable.in.yaml
  examples/dashboard-operator/controllers/tests/simple-stable.out.yaml
  examples/dashboard-operator/go.sum
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XXL
