Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2020-04, with the labels that each got.

#81 Remove dashboard-operator from examples
  examples/dashboard-operator/.gitignore
  examples/dashboard-operator/Dockerfile
  examples/dashboard-operator/Makefile
  examples/dashboard-operator/PROJECT
  examples/dashboard-operator/api/v1alpha1/dashboard_types.go
  examples/dashboard-operator/api/v1alpha1/groupversion_info.go
  examples/dashboard-operator/api/v1alpha1/zz_generated.deepcopy.go
  examples/dashboard-operator/channels/develop
  examples/dashboard-operator/channels/packages/dashboard/1.10.1/manifest.yaml
  examples/dashboard-operator/channels/packages/dashboard/1.8.3/manifest.yaml
  examples/dashboard-operator/channels/packages/dashboard/2.0.0/manifest.yaml
  examples/dashboard-operator/channels/stable
  examples/dashboard-operator/config/certmanager/certificate.yaml
  examples/dashboard-operator/config/certmanager/kustomization.yaml
  examples/dashboard-operator/config/certmanager/kustomizeconfig.yaml
  examples/dashboard-operator/config/crd/bases/addons.example.org_dashboards.yaml
  examples/dashboard-operator/config/crd/bases/app_v1beta1_application.yaml
  examples/dashboard-operator/config/crd/kustomization.yaml
  examples/dashboard-operator/config/crd/kustomizeconfig.yaml
  examples/dashboard-operator/config/crd/patches/cainjection_in_dashboards.yaml
  examples/dashboard-operator/config/crd/patches/webhook_in_dashboards.yaml
  examples/dashboard-operator/config/default/kustomization.yaml
  examples/dashboard-operator/config/default/manager_auth_proxy_patch.yaml
  examples/dashboard-operator/config/default/manager_image_patch.yaml
  examples/dashboard-operator/config/default/manager_prometheus_metrics_patch.yaml
  examples/dashboard-operator/config/default/manager_webhook_patch.yaml
  examples/dashboard-operator/config/default/webhookcainjection_patch.yaml
  examples/dashboard-operator/config/manager/kustomization.yaml
  examples/dashboard-operator/config/manager/manager.yaml
  examples/dashboard-operator/config/rbac/auth_proxy_role.yaml
  examples/dashboard-operator/config/rbac/auth_proxy_role_binding.yaml
  examples/dashboard-operator/config/rbac/auth_proxy_service.yaml
  examples/dashboard-operator/config/rbac/kustomization.yaml
  examples/dashboard-operator/config/rbac/leader_election_role.yaml
  examples/dashboard-operator/config/rbac/leader_election_role_binding.yaml
  examples/dashboard-operator/config/rbac/role.yaml
  examples/dashboard-operator/config/rbac/role_binding.yaml
  examples/dashboard-operator/config/samples/addons_v1alpha1_dashboard.yaml
  examples/dashboard-operator/config/webhook/kustomization.yaml
  examples/dashboard-operator/config/webhook/kustomizeconfig.yaml
  examples/dashboard-operator/config/webhook/manifests.yaml
  examples/dashboard-operator/config/webhook/service.yaml
  examples/dashboard-operator/controllers/dashboard_controller.go
  examples/dashboard-operator/controllers/dashboard_controller_test.go
  examples/dashboard-operator/controllers/tests/patches-develop.in.yaml
  examples/dashboard-operator/controllers/tests/patches-develop.out.yaml
  examples/dashboard-operator/controllers/tests/patches-stable.in.yaml
  examples/dashboard-operator/controllers/tests/patches-stable.out.yaml
  examples/dashboard-operator/controllers/tests/simple-develop.in.yaml
  examples/dashboard-operator/controllers/tests/simple-develop.out.yaml
  examples/dashboard-operator/controllers/tests/simple-stable.in.yaml
  examples/dashboard-operator/controllers/tests/simple-stable.out.yaml
  examples/dashboard-operator/go.mod
  examples/dashboard-operator/go.sum
  examples/dashboard-operator/hack/boilerplate.go.txt
  examples/dashboard-operator/main.go
  hack/ci/test.sh
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XXL

#79 Remove metrics-server-operator from examples
  examples/metrics-server-operator/.gitignore
  examples/metrics-server-operator/Dockerfile
  examples/metrics-server-operator/Makefile
  examples/metrics-server-operator/PROJECT
  examples/metrics-server-operator/api/v1alpha1/groupversion_info.go
  examples/metrics-server-operator/api/v1alpha1/metricsserver_types.go
  examples/metrics-server-operator/api/v1alpha1/zz_generated.deepcopy.go
  examples/metrics-server-operator/channels/packages/metrics-server/0.3.6/manifest.yaml
  examples/metrics-server-operator/channels/stable
  examples/metrics-server-operator/config/certmanager/certificate.yaml
  examples/metrics-server-operator/config/certmanager/kustomization.yaml
  examples/metrics-server-operator/config/certmanager/kustomizeconfig.yaml
  examples/metrics-server-operator/config/crd/bases/addons.example.org_metricsservers.yaml
  examples/metrics-server-operator/config/crd/kustomization.yaml
  examples/metrics-server-operator/config/crd/kustomizeconfig.yaml
  examples/metrics-server-operator/config/crd/patches/cainjection_in_metricsservers.yaml
  examples/metrics-server-operator/config/crd/patches/webhook_in_metricsservers.yaml
  examples/metrics-server-operator/config/default/kustomization.yaml
  examples/metrics-server-operator/config/default/manager_auth_proxy_patch.yaml
  examples/metrics-server-operator/config/default/manager_webhook_patch.yaml
  examples/metrics-server-operator/config/default/webhookcainjection_patch.yaml
  examples/metrics-server-operator/config/manager/kustomization.yaml
  examples/metrics-server-operator/config/manager/manager.yaml
  examples/metrics-server-operator/config/prometheus/kustomization.yaml
  examples/metrics-server-operator/config/prometheus/monitor.yaml
  examples/metrics-server-operator/config/rbac/auth_proxy_role.yaml
  examples/metrics-server-operator/config/rbac/auth_proxy_role_binding.yaml
  examples/metrics-server-operator/config/rbac/auth_proxy_service.yaml
  examples/metrics-server-operator/config/rbac/kustomization.yaml
  examples/metrics-server-operator/config/rbac/leader_election_role.yaml
  examples/metrics-server-operator/config/rbac/leader_election_role_binding.yaml
  examples/metrics-server-operator/config/rbac/metricsserver_editor_role.yaml
  examples/metrics-server-operator/config/rbac/metricsserver_viewer_role.yaml
  examples/metrics-server-operator/config/rbac/role.yaml
  examples/metrics-server-operator/config/rbac/role_binding.yaml
  examples/metrics-server-operator/config/samples/addons_v1alpha1_metricsserver.yaml
  examples/metrics-server-operator/config/webhook/kustomization.yaml
  examples/metrics-server-operator/config/webhook/kustomizeconfig.yaml
  examples/metrics-server-operator/config/webhook/service.yaml
  examples/metrics-server-operator/controllers/metricsserver_controller.go
  examples/metrics-server-operator/controllers/metricsserver_controller_test.go
  examples/metrics-server-operator/controllers/tests/patches.in.yaml
  examples/metrics-server-operator/controllers/tests/patches.out.yaml
  examples/metrics-server-operator/go.mod
  examples/metrics-server-operator/go.sum
  examples/metrics-server-operator/hack/boilerplate.go.txt
  examples/metrics-server-operator/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XXL

#83 delete grodrigues3 from the owners file
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#78 Makes file loading more flexible
  pkg/patterns/declarative/pkg/manifest/objects.go
  pkg/patterns/declarative/pkg/manifest/objects_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/api-machinery, size/L

#82 Use guestbook-operator in smoketest
  examples/guestbook-operator/Dockerfile
  examples/guestbook-operator/Makefile
  examples/guestbook-operator/config/manager/kustomization.yaml
  examples/guestbook-operator/go.mod
  examples/guestbook-operator/go.sum
  hack/smoketest.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M

#85 Always close watchers
  pkg/patterns/declarative/pkg/watch/dynamic.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#86 Use log instead of klog
  go.mod
  pkg/patterns/addon/pkg/loaders/types.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/S

#89 Don't use kubectl --validate
  pkg/patterns/declarative/options.go
  pkg/patterns/declarative/pkg/kubectlcmd/client.go
  pkg/patterns/declarative/pkg/kubectlcmd/client_test.go
  pkg/patterns/declarative/reconciler.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M

#87 Log yaml and error when we fail to parse
  pkg/patterns/declarative/pkg/manifest/objects.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#88 Avoid reusing filesystem, cleanup some error handling
  pkg/patterns/declarative/reconciler.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M
