Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2020-05, with the labels that each got.

#91 Fix incorrect path for Kustomize in addon operators
  pkg/patterns/declarative/pkg/manifest/objects.go
  pkg/patterns/declarative/reconciler.go
  pkg/test/golden/validator.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M

#90 Update walkthrough doc to implement guestbook-operator
  docs/addon/walkthrough/README.md
  examples/guestbook-operator/Dockerfile
  examples/guestbook-operator/Makefile
  examples/guestbook-operator/controllers/guestbook_controller.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/L

#93 feat: upgrade to use go 1.13 and its deps
  go.mod
  go.sum
  hack/smoketest.go
  pkg/patterns/declarative/pkg/watch/dynamic.go
  pkg/test/mocks/cache.go
  pkg/test/mocks/manager.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/L

#92 FSLoader: Don't try to read directories
  pkg/patterns/addon/pkg/loaders/types.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#94 Add ownerRef into kustomize build
  pkg/patterns/declarative/reconciler.go
  pkg/test/golden/validator.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/L

#96 Removes some steps that are now been built into kubebuidler
  docs/addon/walkthrough/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/api-machinery, size/M
