Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2021-07, with the labels that each got.

#158 Remove directxman12 from OWNERS
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#145 Embed Applier interface in kubectlClient interface
  pkg/patterns/declarative/pkg/applier/type.go
  pkg/patterns/declarative/reconciler.go
Labels: approved, cncf-cla: yes, lgtm, lifecycle/stale, ok-to-test, sig/api-machinery, size/XS

#156 Change assert library with cmp library in test
  go.mod
  pkg/patterns/declarative/pkg/manifest/objects_test.go
  pkg/patterns/declarative/watch_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M

#166 GetObjectFromCluster should preserve error chain
  pkg/patterns/declarative/reconciler.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS
