Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2021-11, with the labels that each got.

#185 Use io and os in favor of ioutil
  hack/smoketest.go
  pkg/patterns/addon/pkg/loaders/git.go
  pkg/patterns/addon/pkg/loaders/http.go
  pkg/patterns/addon/pkg/loaders/types.go
  pkg/patterns/declarative/metrics_test.go
  pkg/patterns/declarative/pkg/applier/exec_test.go
  pkg/test/golden/validator.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, size/M, approved

#184 Skip setting owner refs for objects that don't support it
  pkg/patterns/declarative/reconciler.go
Labels: sig/api-machinery, ok-to-test, size/XS, lgtm, cncf-cla: yes, approved

#187 Update go.mod to match controller-runtime 0.10.3
  go.mod
  go.sum
Labels: sig/api-machinery, lgtm, cncf-cla: yes, approved, size/L

#188 Early-exit when applying no patches
  pkg/patterns/declarative/pkg/manifest/patch.go
Labels: sig/api-machinery, size/XS, lgtm, cncf-cla: yes, approved

#186 Improve watch event handling
  pkg/patterns/declarative/pkg/watch/dynamic.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, size/M, approved

#194 Avoid concurrent writes to a map in dynamicWatch
  pkg/patterns/declarative/pkg/watch/dynamic.go
Labels: sig/api-machinery, ok-to-test, lgtm, cncf-cla: yes, size/S, approved

#192 Implement a fake status client for testing
  pkg/test/mocks/client.go
Labels: sig/api-machinery, ok-to-test, lgtm, cncf-cla: yes, size/S, approved

#195 dynamic watch: scope lastRV to each watch
  pkg/patterns/declarative/pkg/watch/dynamic.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, size/M, approved
