Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2021-01, with the labels that each got.

#139 deps: controller-runtime v0.7.0, go 1.15, other deps to >v1 paths
  .github/workflows/main.yml
  docs/addon/walkthrough/README.md
  go.mod
  go.sum
  pkg/patterns/addon/pkg/loaders/types.go
  pkg/patterns/addon/pkg/status/version.go
  pkg/patterns/declarative/pkg/manifest/patch.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/M

#141 utils/utils.go: GetDNSDomain() processes the correct CNAME value
  utils/utils.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, sig/api-machinery, size/XS

#142 *: remove non-std library errors packages
  go.mod
  pkg/test/golden/validator.go
  utils/utils.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/S

#147 Add Namespace to the sort function
  pkg/patterns/declarative/sort.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS
