Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2021-06, with the labels that each got.

#164 Unwrap error when checking for not found.
  pkg/patterns/declarative/reconciler.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/api-machinery, size/XS

#165 OWNERS_ALIASES: add estroz
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#160 bump k8s to 1.21
  examples/guestbook-operator/go.mod
  examples/guestbook-operator/go.sum
  go.mod
  go.sum
  pkg/patterns/declarative/metrics_test.go
  pkg/patterns/declarative/reconciler.go
  pkg/test/mocks/manager.go
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XL
