Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2022-10, with the labels that each got.

#239 Fix code comments
  pkg/patterns/addon/pkg/apis/v1alpha1/common_types.go
Labels: sig/api-machinery, ok-to-test, size/XS, lgtm, cncf-cla: yes, approved

#233 Add unit test for direct applier
  pkg/patterns/declarative/pkg/applier/direct.go
  pkg/patterns/declarative/pkg/applier/direct_test.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, approved, size/L

#243 tests: fix some vet/linter errors
  pkg/patterns/declarative/pkg/applier/exec_test.go
  pkg/test/mocks/client.go
Labels: sig/api-machinery, size/XS, lgtm, cncf-cla: yes, approved

#242 More mock testing
  pkg/mocks/mockkubeapiserver/apigrouplist.go
  pkg/mocks/mockkubeapiserver/apiresourcelist.go
  pkg/mocks/mockkubeapiserver/apiserver.go
  pkg/mocks/mockkubeapiserver/apiversions.go
  pkg/mocks/mockkubeapiserver/controllers.go
  pkg/mocks/mockkubeapiserver/getresource.go
  pkg/mocks/mockkubeapiserver/memorystorage.go
  pkg/mocks/mockkubeapiserver/openapi_request.go
  pkg/mocks/mockkubeapiserver/patchresource.go
  pkg/mocks/mockkubeapiserver/postresource.go
  pkg/mocks/mockkubeapiserver/putresource.go
  pkg/mocks/mockkubeapiserver/request.go
  pkg/mocks/mockkubeapiserver/testhelpers.go
  pkg/patterns/declarative/pkg/applier/direct.go
  pkg/patterns/declarative/pkg/applier/direct_test.go
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple1/manifest.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple2/before.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple2/manifest.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple3/before.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple3/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple3/manifest.yaml
  pkg/restmapper/controllerrestmapper_test.go
  pkg/test/httprecorder/http_recorder.go
  pkg/test/httprecorder/request_log.go
  pkg/test/testharness/golden.go
  pkg/test/testharness/harness.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, size/XXL, approved

#246 Tests: Format logs in HTTP style
  pkg/patterns/declarative/pkg/applier/direct_test.go
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple3/expected.yaml
  pkg/test/httprecorder/request_log.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, approved, size/L

#244 Cleanup some missing comments, bad variable naming, missing error handling
  pkg/mocks/mockkubeapiserver/patchresource.go
  pkg/mocks/mockkubeapiserver/postresource.go
  pkg/mocks/mockkubeapiserver/putresource.go
  pkg/patterns/declarative/pkg/applier/direct.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, size/S, approved

#248 Introduce applyset applier
  applylib/applyset/applyset.go
  applylib/applyset/applyset_test.go
  applylib/applyset/health.go
  applylib/applyset/interfaces.go
  applylib/applyset/results.go
  applylib/applyset/testdata/testapplyset/expected.yaml
  applylib/applyset/tracker.go
  applylib/doc.go
  applylib/go.mod
  applylib/go.sum
  applylib/testutils/harness.go
  examples/guestbook-operator/go.mod
  go.mod
  mockkubeapiserver/apigrouplist.go
  mockkubeapiserver/apiresourcelist.go
  mockkubeapiserver/apiserver.go
  mockkubeapiserver/apiversions.go
  mockkubeapiserver/controllers.go
  mockkubeapiserver/getresource.go
  mockkubeapiserver/go.mod
  mockkubeapiserver/go.sum
  mockkubeapiserver/memorystorage.go
  mockkubeapiserver/openapi_request.go
  mockkubeapiserver/patchresource.go
  mockkubeapiserver/postresource.go
  mockkubeapiserver/putresource.go
  mockkubeapiserver/request.go
  mockkubeapiserver/testhelpers.go
  pkg/patterns/declarative/pkg/applier/applylib.go
  pkg/patterns/declarative/pkg/applier/applylib_test.go
  pkg/patterns/declarative/pkg/applier/direct_test.go
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple1/manifest.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple2/before.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple2/manifest.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple3/before.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple3/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple3/manifest.yaml
  pkg/restmapper/controllerrestmapper_test.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, size/XXL, approved

#252 mockkubeapiserver: Downgrade to k8s 0.23.0
  mockkubeapiserver/go.mod
  mockkubeapiserver/go.sum
Labels: lgtm, cncf-cla: yes, approved, size/L

#253 exec should support restconfig
  mockkubeapiserver/apiserver.go
  mockkubeapiserver/hooks.go
  pkg/patterns/declarative/pkg/applier/applylib_test.go
  pkg/patterns/declarative/pkg/applier/direct_test.go
  pkg/patterns/declarative/pkg/applier/exec.go
  pkg/patterns/declarative/pkg/applier/exec_test.go
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple1/expected-apiserver.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple1/manifest.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple2/before.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple2/expected-apiserver.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple2/manifest.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple3/before.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple3/expected-apiserver.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple3/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple3/manifest.yaml
  pkg/test/httprecorder/http_recorder.go
  pkg/test/httprecorder/request_log.go
  pkg/test/testharness/golden.go
Labels: lgtm, cncf-cla: yes, size/XL, approved

#254 Use logger from context.Context
  pkg/patterns/addon/patch.go
  pkg/patterns/addon/pkg/loaders/fs.go
  pkg/patterns/addon/pkg/loaders/git.go
  pkg/patterns/addon/pkg/loaders/http.go
  pkg/patterns/addon/pkg/loaders/types.go
  pkg/patterns/addon/pkg/loaders/types_test.go
  pkg/patterns/addon/pkg/loaders/versions_test.go
  pkg/patterns/addon/pkg/status/aggregate.go
  pkg/patterns/addon/pkg/status/kstatus.go
  pkg/patterns/addon/pkg/status/version.go
  pkg/patterns/declarative/image.go
  pkg/patterns/declarative/labels.go
  pkg/patterns/declarative/pkg/applier/exec.go
  pkg/patterns/declarative/pkg/manifest/objects.go
  pkg/patterns/declarative/pkg/manifest/patch.go
  pkg/patterns/declarative/pkg/manifest/patch_test.go
  pkg/patterns/declarative/pkg/watch/dynamic.go
  pkg/patterns/declarative/reconciler.go
  pkg/patterns/declarative/sort.go
  pkg/patterns/declarative/watch.go
  pkg/restmapper/caching.go
  pkg/restmapper/controllerrestmapper.go
Labels: lgtm, cncf-cla: yes, approved, size/L

#255 Create nil-safe wrapper around Items
  pkg/patterns/addon/pkg/status/aggregate.go
  pkg/patterns/declarative/pkg/manifest/objects.go
Labels: lgtm, cncf-cla: yes, size/S, approved

#259 mockkubeapiserver: don't update if the object doesn't change
  mockkubeapiserver/putresource.go
Labels: size/XS, lgtm, cncf-cla: yes, approved
