Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2022-04, with the labels that each got.

#213 check object scope before fetching
  pkg/patterns/declarative/reconciler.go
Labels: sig/api-machinery, ok-to-test, size/XS, lgtm, cncf-cla: yes, approved

#215 Allow multiple resources in manifest files when using kustomize
  examples/guestbook-operator/channels/packages/guestbook/0.1.0/kustomization.yaml
  examples/guestbook-operator/controllers/guestbook_controller.go
  pkg/patterns/declarative/reconciler.go
Labels: sig/api-machinery, ok-to-test, lgtm, cncf-cla: yes, size/S, approved

#214 enhance handling prune for CR
  pkg/patterns/declarative/reconciler.go
Labels: sig/api-machinery, ok-to-test, lgtm, cncf-cla: yes, size/S, approved

#216 mutating image of Pod should include initContainers
  pkg/patterns/declarative/pkg/manifest/objects.go
  pkg/patterns/declarative/pkg/manifest/objects_test.go
Labels: sig/api-machinery, ok-to-test, lgtm, cncf-cla: yes, approved, size/L
