Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2022-03, with the labels that each got.

#199 refactory updating status mechanism, status func could handle error
  pkg/patterns/addon/pkg/status/aggregate.go
  pkg/patterns/addon/pkg/status/kstatus.go
  pkg/patterns/declarative/reconciler.go
  pkg/patterns/declarative/status.go
Labels: sig/api-machinery, ok-to-test, lgtm, cncf-cla: yes, size/M, approved

#204 refactor: Use strategic merge patch
  pkg/patterns/declarative/pkg/manifest/patch.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, size/S, approved

#208 Add unit test for declarative/labels
  pkg/patterns/declarative/labels_test.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, approved, size/L

#203 Add side input for golden file tests
  docs/addon/walkthrough/tests.md
  examples/guestbook-operator/controllers/guestbook_controller_test.go
  examples/guestbook-operator/go.mod
  examples/guestbook-operator/go.sum
  pkg/test/golden/validator.go
  pkg/test/mocks/client.go
Labels: sig/api-machinery, ok-to-test, lgtm, cncf-cla: yes, size/XL, approved

#205 Add unit test for loaders/types
  pkg/patterns/addon/pkg/loaders/types_test.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, approved, size/L

#206 Use kustomize/kyaml/filesys
  go.mod
  pkg/patterns/addon/pkg/loaders/types_test.go
  pkg/patterns/declarative/reconciler.go
  pkg/test/golden/validator.go
Labels: sig/api-machinery, size/XS, lgtm, cncf-cla: yes, approved

#207 Add unit test for loaders/fs
  pkg/patterns/addon/pkg/loaders/fs_test.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, approved, size/L

#202 Propagate applyOpts extraArgs
  pkg/patterns/declarative/pkg/applier/direct.go
Labels: sig/api-machinery, ok-to-test, lgtm, cncf-cla: yes, size/S, approved

#212 Introduce setters for name and namespace
  docs/releases/release-0.12.md
  pkg/patterns/addon/pkg/status/aggregate.go
  pkg/patterns/addon/pkg/status/kstatus.go
  pkg/patterns/addon/pkg/status/version.go
  pkg/patterns/declarative/pkg/applier/direct.go
  pkg/patterns/declarative/pkg/manifest/objects.go
  pkg/patterns/declarative/pkg/manifest/objects_test.go
  pkg/patterns/declarative/reconciler.go
  pkg/patterns/declarative/watch.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, size/M, approved
