Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2022-07, with the labels that each got.

#225 Set dummy name for apply on direct.go
  pkg/patterns/declarative/pkg/applier/direct.go
Labels: sig/api-machinery, size/XS, lgtm, cncf-cla: yes, approved

#226 fix decode multi YAML doc
  pkg/patterns/declarative/pkg/manifest/objects.go
  pkg/patterns/declarative/pkg/manifest/objects_test.go
Labels: sig/api-machinery, ok-to-test, lgtm, cncf-cla: yes, approved, size/L

#228 Parsing: add more empty test cases
  pkg/patterns/declarative/pkg/manifest/objects.go
  pkg/patterns/declarative/pkg/manifest/objects_test.go
Labels: sig/api-machinery, lgtm, cncf-cla: yes, size/S, approved

#229 Fix bug where Reconcile() returns nil err if status option is not nil
  pkg/patterns/declarative/reconciler.go
Labels: sig/api-machinery, size/XS, needs-ok-to-test, lgtm, cncf-cla: yes, approved
