Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2022-11, with the labels that each got.

#267 mockkubeapiserver: fix bug where comparing wrong objects
  mockkubeapiserver/putresource.go
Labels: size/XS, lgtm, cncf-cla: yes, approved

#266 Report status as unhealthy if we failed to reconcile
  pkg/patterns/addon/pkg/status/aggregate.go
Labels: size/XS, lgtm, cncf-cla: yes, approved

#268 applylib: Recognize and map the --force kubectl option
  pkg/patterns/declarative/pkg/applier/applylib.go
  pkg/patterns/declarative/pkg/applier/direct.go
  pkg/patterns/declarative/pkg/applier/exec.go
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple3/expected.yaml
  pkg/patterns/declarative/pkg/applier/type.go
  pkg/patterns/declarative/reconciler.go
Labels: lgtm, cncf-cla: yes, size/M, approved

#265 testing: record http responses also
  pkg/patterns/declarative/pkg/applier/applylib_test.go
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple3/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple3/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple1/expected-apiserver.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple2/expected-apiserver.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple3/expected-apiserver.yaml
  pkg/test/httprecorder/http_recorder.go
  pkg/test/httprecorder/request_log.go
Labels: lgtm, cncf-cla: yes, approved, size/L

#264 Allow applier to be overridden per-controller
  pkg/patterns/declarative/options.go
  pkg/patterns/declarative/reconciler.go
Labels: lgtm, cncf-cla: yes, size/S, approved

#269 Record event when reconciler fails unexpectedly
  mockkubeapiserver/patchresource.go
  pkg/patterns/declarative/reconciler.go
Labels: size/XS, lgtm, cncf-cla: yes, approved

#263 Stop using go.mod replace directives
  applylib/go.mod
  applylib/go.sum
  examples/guestbook-operator/go.mod
  go.mod
  go.sum
Labels: lgtm, cncf-cla: yes, size/S, approved

#271 Export ReconcilerOption
  pkg/patterns/declarative/options.go
  pkg/patterns/declarative/reconciler.go
Labels: lgtm, cncf-cla: yes, size/M, approved

#260 Create test reconciler and capture http requests
  pkg/test/httprecorder/request_log.go
  pkg/test/testreconciler/simpletest/controller.go
  pkg/test/testreconciler/simpletest/controller_test.go
  pkg/test/testreconciler/simpletest/testdata/channels/packages/simpletest/0.1.0/manifest.yaml
  pkg/test/testreconciler/simpletest/testdata/channels/stable
  pkg/test/testreconciler/simpletest/testdata/reconcile/direct/create/before.yaml
  pkg/test/testreconciler/simpletest/testdata/reconcile/direct/create/expected-http.yaml
  pkg/test/testreconciler/simpletest/testdata/reconcile/ssa/create/before.yaml
  pkg/test/testreconciler/simpletest/testdata/reconcile/ssa/create/expected-http.yaml
  pkg/test/testreconciler/simpletest/v1alpha1/groupversion_info.go
  pkg/test/testreconciler/simpletest/v1alpha1/types.go
  pkg/test/testreconciler/simpletest/v1alpha1/zz_generated.deepcopy.go
Labels: lgtm, cncf-cla: yes, size/XL, approved

#270 mockkubeapiserver: add test using SMD library
  mockkubeapiserver/Makefile
  mockkubeapiserver/apiserver.go
  mockkubeapiserver/forked/README.md
  mockkubeapiserver/forked/managedfields.go
  mockkubeapiserver/go.mod
  mockkubeapiserver/kubernetes_builtin_schema.go
  mockkubeapiserver/kubernetes_builtin_schema.yaml
  mockkubeapiserver/memorystorage.go
  mockkubeapiserver/patchresource.go
  mockkubeapiserver/schema.go
  mockkubeapiserver/schema_test.go
Labels: lgtm, cncf-cla: yes, size/XXL, approved

#273 go.mod: Update internal packages
  examples/guestbook-operator/go.mod
  examples/guestbook-operator/go.sum
  go.mod
  go.sum
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple3/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple2/expected.yaml
  pkg/test/testreconciler/simpletest/testdata/reconcile/direct/create/expected-http.yaml
  pkg/test/testreconciler/simpletest/testdata/reconcile/ssa/create/expected-http.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved

#274 Prune whitelist
  go.mod
  go.sum
  pkg/patterns/declarative/pkg/applier/direct.go
  pkg/patterns/declarative/pkg/applier/direct_test.go
  pkg/patterns/declarative/pkg/applier/exec.go
  pkg/patterns/declarative/pkg/applier/type.go
  pkg/patterns/declarative/reconciler.go
Labels: ok-to-test, lgtm, cncf-cla: yes, approved, size/L

#280 Add AddAnnotations companion to AddLabels
  pkg/patterns/declarative/annotations.go
  pkg/patterns/declarative/pkg/manifest/objects.go
  pkg/patterns/declarative/pkg/manifest/objects_test.go
Labels: ok-to-test, lgtm, cncf-cla: yes, size/M, approved

#281 Set Overwrite in ApplyOptions
  pkg/patterns/declarative/pkg/applier/direct.go
Labels: size/XS, lgtm, cncf-cla: yes, approved

#275 Change ApplierOptions to take Objects, not a manifest.
  pkg/patterns/declarative/metrics_test.go
  pkg/patterns/declarative/pkg/applier/applylib.go
  pkg/patterns/declarative/pkg/applier/applylib_test.go
  pkg/patterns/declarative/pkg/applier/direct.go
  pkg/patterns/declarative/pkg/applier/direct_test.go
  pkg/patterns/declarative/pkg/applier/exec.go
  pkg/patterns/declarative/pkg/applier/exec_test.go
  pkg/patterns/declarative/pkg/applier/type.go
  pkg/patterns/declarative/reconciler.go
Labels: lgtm, cncf-cla: yes, approved, size/L

#282 Replace deprecated funcs on ioutil package
  applylib/testutils/harness.go
  mockkubeapiserver/patchresource.go
  mockkubeapiserver/postresource.go
  mockkubeapiserver/putresource.go
  pkg/patterns/declarative/pkg/applier/applylib_test.go
  pkg/patterns/declarative/pkg/applier/exec.go
  pkg/test/httprecorder/http_recorder.go
  pkg/test/testharness/golden.go
Labels: lgtm, cncf-cla: yes, kind/cleanup, size/M, approved
