Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2023-05, with the labels that each got.

#331 feat: avoid importing kubectl deps when using ApplysetApplier
  dev/test
  pkg/patterns/declarative/metrics_test.go
  pkg/patterns/declarative/pkg/applier/direct.go
  pkg/patterns/declarative/pkg/applier/direct_test.go
  pkg/patterns/declarative/pkg/applier/exec.go
  pkg/patterns/declarative/pkg/applier/exec_test.go
  pkg/patterns/declarative/pkg/applier/global.go
  pkg/patterns/declarative/pkg/applier/global_without_kubectl.go
  pkg/patterns/declarative/reconciler.go
  pkg/test/testreconciler/simpletest/controller_test.go
  pkg/test/testreconciler/simpletest/with_kubectl_test.go
  pkg/test/testreconciler/simpletest/without_kubectl_test.go
Labels: lgtm, cncf-cla: yes, approved, size/L

#332 fix: align go build tag delimiters to hyphen
  pkg/patterns/declarative/kustomize/enabled.go
  reconciler-options.md
Labels: size/XS, lgtm, cncf-cla: yes, approved

#336 fix: use apply set tooling in apply set applier
  applylib/applyset/applyset.go
  pkg/test/testreconciler/simpletest/testdata/reconcile/ssa/create/expected-http.yaml
Labels: ok-to-test, lgtm, cncf-cla: yes, size/M, approved
