Repository kubernetes-sigs/kubebuilder-declarative-pattern, pull requests merged in 2023-06, with the labels that each got.

#337 Bump controller runtime to v0.15.0
  examples/guestbook-operator/controllers/guestbook_controller.go
  go.mod
  go.sum
  hack/ci/test.sh
  pkg/patterns/declarative/metrics.go
  pkg/patterns/declarative/pkg/applier/applylib_test.go
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/applylib/simple3/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/direct/simple3/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple1/expected-apiserver.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple1/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple2/expected-apiserver.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple2/expected.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple3/expected-apiserver.yaml
  pkg/patterns/declarative/pkg/applier/testdata/kubectl/simple3/expected.yaml
  pkg/patterns/declarative/watch.go
  pkg/restmapper/controllerrestmapper.go
  pkg/restmapper/controllerrestmapper_test.go
  pkg/test/testreconciler/simpletest/controller.go
  pkg/test/testreconciler/simpletest/testdata/reconcile/direct/create/expected-http.yaml
  pkg/test/testreconciler/simpletest/testdata/reconcile/ssa/create/expected-http.yaml
Labels: ok-to-test, lgtm, cncf-cla: yes, size/XL, approved

#341 fix: bump ci go to v1.20 and fix goimports
  .github/workflows/main.yml
  pkg/patterns/declarative/metrics.go
  pkg/test/testreconciler/simpletest/controller.go
Labels: lgtm, cncf-cla: yes, size/S, approved

#340 fix: mockapiserver data race in create memorystorage
  mockkubeapiserver/memorystorage_watch.go
Labels: size/XS, lgtm, cncf-cla: yes, approved

#342 Create abstraction layer over controller-runtime/client-go versions
  applylib/third_party/forked/github.com/kubernetes/kubectl/pkg/cmd/apply/applyset.go
  applylib/third_party/forked/k8s.io/apimachinery/pkg/util/sets/empty.go
  applylib/third_party/forked/k8s.io/apimachinery/pkg/util/sets/ordered.go
  applylib/third_party/forked/k8s.io/apimachinery/pkg/util/sets/set.go
  commonclient/doc.go
  commonclient/factory_cr11.go
  commonclient/factory_cr15.go
  commonclient/restmapper_cr11.go
  commonclient/restmapper_cr15.go
  pkg/patterns/declarative/metrics.go
  pkg/patterns/declarative/pkg/applier/applylib_test.go
  pkg/patterns/declarative/pkg/applier/global.go
  pkg/patterns/declarative/pkg/applier/global_without_kubectl.go
  pkg/patterns/declarative/watch.go
  pkg/restmapper/controllerrestmapper.go
  pkg/restmapper/controllerrestmapper_cr11.go
  pkg/restmapper/controllerrestmapper_cr15.go
  pkg/restmapper/controllerrestmapper_test.go
  pkg/test/testreconciler/simpletest/controller.go
Labels: lgtm, cncf-cla: yes, size/XL, approved
